body {
  background-image: url(../Media/image.jpg);
  background-size: cover;
  background-repeat: repeat;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  background-color: black;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: black;
  border: 1px solid white;
  margin-right: 2em;
  margin-left: 2em;
  margin-top: .5em;
  margin-bottom: 3em;
  position: relative;
}


.font {
  display: flex;
  grid: column;
  justify-content: flex-start;
  margin: auto;
  padding: .5rem;
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-style: italic;
}


.nav1 {
  margin-right: 1.2rem;
  margin-left: 0;

}

.nav1 a:hover{
 color:grey;
 font-size: 2.2rem;
 text-decoration: none;

}

.nav2 a:hover{
  color: grey;
  font-size: 2.2rem;
  text-decoration: none;
}

a {
  color: white;
}
a:hover {
color: grey;
text-decoration:none;

}


.welcome{
  display: flex;
  justify-content: center;
}

#imageTitle{
  width: 80px;
  height: 80px;
}

#imageLogo{
  width: 200px;
  height: 80px;
}

#image-beer {
  display: flex;
  justify-content: flex-end;
}

#formSubmit.input {
  width: 200px;
}

.searchTitle{
  display:flex;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
}

#map{
  width:50vw;
  height:25vh;
}

.pFont{
  font-size: 1.5em;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.titleBar{
  display: flex;
}

.searchResults {
  margin: auto;
  color: #ffffff;
  background-color: black;
  width: 50%;
  font-family: 'Oswald', sans-serif;
  padding-left: 1em;
  padding-right: 1em;
  text-shadow: -2px -2px 0 #000;
  border: 1px solid white;
}

@media only screen and (max-width: 1000px) {
  #imageLogo{
    margin: auto;
    width: 125px;
    height: 50px;
  }
  #imageTitle{
    width:40px;
    height:40px;
    margin: auto;


}
.nav1 a:hover{
 color:grey;
 font-size: 2.2rem;
 text-decoration: none;

}

.nav2 a:hover{
  color: grey;
  font-size: 2.2rem;
  text-decoration: none;
}
}
@media only screen and (max-width: 600px) {
  .font {
    font-size: 1rem;
    text-align: center;
    margin-left: 0;

  }
  .navbar{
    width: 100%;
    margin-left: 0;
  }
  .nav1 a:hover{
   color:grey;
   font-size: 1.1rem;
   text-decoration: none;

  }

  .nav2 a:hover{
    color: grey;
    font-size: 1rem;
    text-decoration: none;
  }
  .searchResults{
    width: 100vw;
    height: 100%;
  }
  #map{
    width: 100vw;
    height: 100vh;
  }
  #imageTitle{
    width:40px;
    height:40px;
    margin-left: 0;

  }
  #imageLogo{
    margin: auto;
    width: 100px;
    height: 50px;
  }
  #formSubmit{
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  #formSubmit.input {
     width: 100px;
  }
  .searchTitle{
    text-align: center;
    font-size: 1rem;
  }
  .welcome{
    text-align: center;
  }
  .pFont{
    font-size: 1.25rem;
  }
}



.logo {
  display: flex;
  justify-content: center;

}






.beer2{
  margin-top: .9em;
  margin-left: .5em;
  opacity: 0.5;
}





.results{
  display: flex;
  flex-direction: column;
  align-items: center;

}



.inputBar{
  display: flex;
  justify-content:center;
  margin: auto;
  margin-bottom: 1.5em;

}


.textTitle{
  font-size: 1.5em;
  margin:auto;
  width: 80%;
  text-align: center;
  margin-bottom: 2em;
}

.text{
font-size: 1.5em;
}
